In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(r"C:\Users\simbi\Ironhack\Proyecto\datos_proyecto\attacks.csv", encoding ="unicode_escape")

In [8]:
df.shape

(25723, 24)

In [9]:
original = pd.Series(sorted(df["original order"].iloc[:6304]))

In [ ]:
original.tail(20)

In [2]:
df.describe()

NameError: name 'df' is not defined

In [3]:
df.info()

NameError: name 'df' is not defined

In [9]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

In [27]:
for col in df.columns:
    print(df.value_counts([col]))
    print("*****************************")

Case Number
0               2400
1980.07.00         2
2006.09.02         2
2005.04.06         2
2009.12.18         2
                ...
1959.07.30         1
1959.07.28         1
1959.07.25.b       1
1959.07.25.a       1
xx                 1
Length: 6287, dtype: int64
*****************************
Date
1957              11
1942               9
1956               8
1958               7
1950               7
                  ..
16-Feb-2005        1
16-Feb-2004        1
16-Feb-2002        1
16-Feb-1981        1
\n1951.12.15.R     1
Length: 5433, dtype: int64
*****************************
Year
2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1807.0      1
1805.0      1
1804.0      1
1802.0      1
1791.0      1
Length: 249, dtype: int64
*****************************
Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
dtype: int64
*****************************
Country
USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
                    ...
GUATEMALA              1
GREENLAND              1
GRAND CAYMAN           1
GHANA                  1
MALDIVES               1
Length: 212, dtype: int64
*****************************
Area
Florida             1037
New South Wales      486
Queensland           311
Hawaii               298
California           290
                    ...
Illeginni Atoll        1
Illinois               1
Imperia Province       1
In Convoy OB 274       1
Madeira Islands        1
Length: 825, dtype: int64
*****************************
Location
New Smyrna Beach, Volusia County                                   163
Daytona Beach, Volusia County                                       30
Ponce Inlet, Volusia County                                         20
Melbourne Beach, Brevard County                                     18
Myrtle Beach, Horry County                                          17
                                                                  ...
Howard E. Futch Memorial Park at Paradise Beach, Brevard County      1
Huahine                                                              1
Hugenot Beach , Jacksonville, Duval County                           1
Huguenot Memorial Park, Duval County                                 1
Île de Sable                                                         1
Length: 4108, dtype: int64
*****************************
Activity
Surfing                                         971
Swimming                                        869
Fishing                                         431
Spearfishing                                    333
Bathing                                         162
                                               ...
Fishing, stepped on hooked shark's head           1
Fishing, standing in water washing fish           1
Fishing, standing in water next to purse net      1
Fishing, standing in waist-deep water             1
yachtsman in a zodiac                             1
Length: 1532, dtype: int64
*****************************
Name
male                 550
female                97
boy                   23
2 males               16
boat                  14
                    ...
George Wright          1
George Walter          1
George Wainwright      1
George Vanderbilt      1
young male             1
Length: 5230, dtype: int64
*****************************
Sex
M       5094
F        637
M          2
N          2
.          1
lli        1
dtype: int64
*****************************
Age
17                154
18                150
19                142
20                141
15                139
                 ...
60s                 1
60's                1
21, 34,24 & 35      1
23 & 20             1
                    1
Length: 157, dtype: int64
*****************************
Injury
FATAL                                                                                                                                        802
Survived                                                                                                                                      97
Foot bitten                                                                                                                                   87
No injury                                                                                                                                     82
Leg bitten                                                                                                                                    72
                                                                                                                                            ...
He was was bitten on the arm by small sharks & died, but it was not clear if he died as result of the bite or death resulted from drowing      1
Head & arm bitten                                                                                                                              1
Head & torso bitten                                                                                                                            1
Head bitten by captive shark PROVOKED INCIDENT                                                                                                 1
Put hand through hatch, shark nearly bit off thumb                                                                                           1
Length: 3737, dtype: int64
*****************************
Fatal (Y/N)
N              4293
Y              1388
UNKNOWN          71
 N                7
2017              1
M                 1
N                 1
y                 1
dtype: int64
*****************************
Time
Afternoon         187
11h00             128
Morning           121
12h00             109
15h00             108
                 ...
16h23               1
16h25               1
09h30 / 15h30       1
16h30 or 18h00      1
                    1
Length: 366, dtype: int64
*****************************
Species
White shark                                                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                                                               105
Invalid                                                                                                                                                          102
Shark involvement not confirmed                                                                                                                                   88
Tiger shark                                                                                                                                                       73
                                                                                                                                                                ...
C. macrurus captured 48 hours after attack with tissue removed from man in its gut; species identified by G.P. Whitley,  reported as C. obscurus by  R. Steel      1
C. leucas tooth fragment recovered from kayak                                                                                                                      1
Bull sharks x 2                                                                                                                                                    1
Bull sharks to 1.5 m [5']  in length                                                                                                                               1
Porbeagle shark                                                                                                                                                    1
Length: 1549, dtype: int64
*****************************
Investigator or Source
C. Moore, GSAF                                                   105
C. Creswell, GSAF                                                 92
S. Petersohn, GSAF                                                82
R. Collier                                                        55
T. Peake, GSAF                                                    48
                                                                ...
H. Wessel, Orlando Sentinel, 8/1/2001                              1
H. Trong &                 U. Phuong,.Saigon Daily, 1/13/2010      1
H. Taunton; N. Bartlett,  pp. 233-234                              1
H. Taunton; N. Bartlett,  p. 234                                   1
zinfos974                                                          1
Length: 4969, dtype: int64
*****************************
pdf
1935.06.05.R-SolomonIslands.pdf       2
1907.10.16.R-HongKong.pdf             2
1923.00.00.a-NJ fisherman.pdf         2
1898.00.00.R-Syria.pdf                2
1931.09.21.a-b-Holaday-Barrows.pdf    2
                                     ..
1959.09.10.R-India.pdf                1
1959.09.02-NV-InflatableRaft.pdf      1
1959.09.00-French-woman.pdf           1
1959.08.31.R-Azores.pdf               1
ND-0154-Folsom.pdf                    1
Length: 6291, dtype: int64
*****************************
href formula
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf              2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf              2
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf          2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.09.00-French-woman.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.08.31.R-Azores.pdf                1
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.08.30-Cox.pdf                     1
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.08.25-Fukushi.pdf                 1
pdf-directory/2013.05.27.b-Ena.pdf                                                           1
Length: 6290, dtype: int64
*****************************
href
http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                   4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf            3
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf              2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.09.27-Rawlinson.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.09.26.b-Walker.pdf                1
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.09.26.a-Wines.pdf                 1
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.09.11-Tervo.pdf                   1
pdf_directory2014.01.04-Riano.pdf                                                            1
Length: 6285, dtype: int64
*****************************
Case Number.1
2013.10.05       2
1952.08.04       2
1913.08.27.R     2
1907.10.16.R     2
1980.07.00       2
                ..
1959.07.30       1
1959.07.28       1
1959.07.25.b     1
1959.07.25.a     1
ND.0110          1
Length: 6285, dtype: int64
*****************************
Case Number.2
1962.06.11.b     2
2006.09.02       2
2013.10.05       2
2014.08.02       2
2005.04.06       2
                ..
1959.07.28       1
1959.07.25.b     1
1959.07.25.a     1
1959.07.23.b     1
ND.0110          1
Length: 6286, dtype: int64
*****************************
original order
569.0             2
2.0               1
4214.0            1
4213.0            1
4212.0            1
                 ..
2104.0            1
2103.0            1
2102.0            1
2101.0            1
6310.0            1
Length: 6308, dtype: int64
*****************************
Unnamed: 22
stopped here    1
dtype: int64
*****************************
Unnamed: 23
Teramo             1
change filename    1
dtype: int64
*****************************

In [13]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [20]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [21]:
df['Type'].describe()

count           6298
unique             8
top       Unprovoked
freq            4595
Name: Type, dtype: object

In [23]:
df.value_counts(['Type'])

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
dtype: int64

In [34]:
df.value_counts(["Country"])

Country
USA                                      2229
AUSTRALIA                                1338
SOUTH AFRICA                              579
PAPUA NEW GUINEA                          134
NEW ZEALAND                               128
BRAZIL                                    112
BAHAMAS                                   109
MEXICO                                     89
ITALY                                      71
FIJI                                       62
PHILIPPINES                                61
REUNION                                    60
NEW CALEDONIA                              53
CUBA                                       46
MOZAMBIQUE                                 45
SPAIN                                      44
INDIA                                      40
EGYPT                                      38
CROATIA                                    34
JAPAN                                      34
PANAMA                                     32
SOLOMON ISLANDS                            30
IRAN                                       29
JAMAICA                                    27
FRENCH POLYNESIA                           25
GREECE                                     25
HONG KONG                                  24
INDONESIA                                  23
ENGLAND                                    23
COSTA RICA                                 17
ATLANTIC OCEAN                             17
PACIFIC OCEAN                              17
BERMUDA                                    16
TONGA                                      15
VIETNAM                                    15
VANUATU                                    14
SRI LANKA                                  14
MARSHALL ISLANDS                           13
FRANCE                                     13
IRAQ                                       12
CANADA                                     12
SOUTH ATLANTIC OCEAN                       12
TURKEY                                     12
VENEZUELA                                  11
SENEGAL                                    11
UNITED KINGDOM                             11
MAURITIUS                                  10
KENYA                                      10
NEW GUINEA                                 10
TAIWAN                                      9
COLUMBIA                                    9
ECUADOR                                     9
THAILAND                                    8
CHILE                                       8
TANZANIA                                    8
SOUTH KOREA                                 8
MADAGASCAR                                  8
CARIBBEAN SEA                               8
SIERRA LEONE                                8
SAMOA                                       8
SCOTLAND                                    8
INDIAN OCEAN                                7
ISRAEL                                      7
NORTH PACIFIC OCEAN                         7
CHINA                                       7
YEMEN                                       7
SEYCHELLES                                  7
DOMINICAN REPUBLIC                          7
KIRIBATI                                    6
OKINAWA                                     6
LIBYA                                       6
SOMALIA                                     6
NEW BRITAIN                                 6
SINGAPORE                                   6
NICARAGUA                                   6
BARBADOS                                    6
MALAYSIA                                    5
TURKS & CAICOS                              5
AZORES                                      5
MID ATLANTIC OCEAN                          5
SAUDI ARABIA                                5
MALTA                                       5
PALAU                                       5
HONDURAS                                    4
RUSSIA                                      4
GRENADA                                     4
PERSIAN GULF                                4
GUAM                                        4
URUGUAY                                     4
BURMA                                       4
NORTH ATLANTIC OCEAN                        4
SUDAN                                       4
EL SALVADOR                                 4
NIGERIA                                     4
MONTENEGRO                                  3
 TONGA                                      3
LEBANON                                     3
MICRONESIA                                  3
LIBERIA                                     3
MARTINIQUE                                  3
PORTUGAL                                    3
BELIZE                                      3
CEYLON                                      3
AMERICAN SAMOA                              3
HAITI                                       3
GUYANA                                      3
GUINEA                                      3
CAPE VERDE                                  3
TRINIDAD & TOBAGO                           3
TUNISIA                                     3
Fiji                                        3
TOBAGO                                      2
CENTRAL PACIFIC                             2
CAYMAN ISLANDS                              2
UNITED ARAB EMIRATES                        2
NORWAY                                      2
CRETE                                       2
UNITED ARAB EMIRATES (UAE)                  2
PACIFIC OCEAN                               2
ANTIGUA                                     2
WEST INDIES                                 2
YEMEN                                       2
JOHNSTON ISLAND                             2
SOUTH PACIFIC OCEAN                         2
MEDITERRANEAN SEA                           2
NAMIBIA                                     2
EGYPT                                       2
ICELAND                                     2
SOUTHWEST PACIFIC OCEAN                     2
ST HELENA, British overseas territory       2
TASMAN SEA                                  1
SOUTH CHINA SEA                             1
RED SEA                                     1
WESTERN SAMOA                               1
RED SEA / INDIAN OCEAN                      1
SLOVENIA                                    1
RED SEA?                                    1
PUERTO RICO                                 1
ST. MAARTIN                                 1
TUVALU                                      1
THE BALKANS                                 1
REUNION ISLAND                              1
ROATAN                                      1
ST. MARTIN                                  1
SUDAN?                                      1
SWEDEN                                      1
SYRIA                                       1
SAN DOMINGO                                 1
Seychelles                                  1
Sierra Leone                                1
SOLOMON ISLANDS / VANUATU                   1
 PHILIPPINES                                1
PERU                                        1
PARAGUAY                                    1
EQUATORIAL GUINEA / CAMEROON                1
EGYPT / ISRAEL                              1
DJIBOUTI                                    1
DIEGO GARCIA                                1
Coast of AFRICA                             1
CYPRUS                                      1
CURACAO                                     1
COOK ISLANDS                                1
COMOROS                                     1
CEYLON (SRI LANKA)                          1
Between PORTUGAL & INDIA                    1
BRITISH WEST INDIES                         1
BRITISH VIRGIN ISLANDS                      1
BRITISH NEW GUINEA                          1
BRITISH ISLES                               1
BAY OF BENGAL                               1
BANGLADESH                                  1
BAHREIN                                     1
ASIA?                                       1
ARUBA                                       1
ARGENTINA                                   1
ANGOLA                                      1
ANDAMAN ISLANDS                             1
ANDAMAN / NICOBAR ISLANDAS                  1
ALGERIA                                     1
AFRICA                                      1
ADMIRALTY ISLANDS                           1
FALKLAND ISLANDS                            1
FEDERATED STATES OF MICRONESIA              1
GABON                                       1
MAYOTTE                                     1
PALESTINIAN TERRITORIES                     1
OCEAN                                       1
NORTHERN MARIANA ISLANDS                    1
NORTHERN ARABIAN SEA                        1
NORTH SEA                                   1
NORTH ATLANTIC OCEAN                        1
NICARAGUA                                   1
NEVIS                                       1
NETHERLANDS ANTILLES                        1
MONACO                                      1
MID-PACIFC OCEAN                            1
MEXICO                                      1
MALDIVE ISLANDS                             1
GEORGIA                                     1
KUWAIT                                      1
KOREA                                       1
JAVA                                        1
ITALY / CROATIA                             1
IRELAND                                     1
IRAN / IRAQ                                 1
INDIAN OCEAN?                               1
GULF OF ADEN                                1
GUATEMALA                                   1
GREENLAND                                   1
GRAND CAYMAN                                1
GHANA                                       1
MALDIVES                                    1
dtype: int64

In [33]:
pd.options.display.max_rows=100

In [21]:
# para ver las diferencias entre esas dos columnas

df.loc[(df['Case Number.1'] != df['Case Number.2'])]

df.loc[(df['Case Number.1'] != df['Case Number.2'])].head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
34,2018.04.03,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,...,N,15h00,White shark,"K. McMurray, TrackingSharks.com",2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.02,2018.04.03,6269.0
117,2017.07.20.a,20-Jul-2017,2017.0,Unprovoked,USA,California,"Seal Rock, Goleta Beach, Santa Barbara",SUP,Rolf Geyling,M,...,N,07h45,"White shark, 8' to 10'","R. Collier, GSAF",2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017/07.20.a,2017.07.20.a,6186.0

In [ ]:
diferencias_href = df.loc[(df['href'] != df['href formula'])]

In [15]:
df["Age"].head(3)

0    57
1    11
2    48
Name: Age, dtype: object

In [16]:
df["Age"].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [17]:
df["Date"].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [18]:
#eiminamos las columnas "basura" que no tienen datos válidos
#usamos el método drop

df.drop(['Unnamed: 22','Unnamed: 23'], axis=1, inplace=True)
df.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0

In [23]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [24]:
df.drop(['pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'], axis= 1, inplace=True)

In [25]:
df.shape

(6301, 16)

In [26]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source'],
      dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
dtypes: float64(1), object(15)
memory usage: 836.9+ KB

In [28]:
df.sample(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
5396,1910.12.25.R,Reported 25-Dec-1910,1910.0,Invalid,CROATIA,Primorje-Gorski Kotar County,Rijeka,NaN,male,M,NaN,FATAL?,NaN,NaN,Questionable,C. Moore. GSAF
3333,1972.05.28,28-May-1972,1972.0,Unprovoked,USA,California,"Bird Rock, near Tomales Point, Marin County",Free diving for abalone,Helmut Himmrich,M,32,Bitten on legs & buttock,N,13h30,"White shark, 4.4 m to 5 m [14.5' to 16.5']","D. Miller & R. Collier, R. Collier, pp.48-50; ..."

In [29]:
df["Injury"].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [30]:
df["Injury"].nunique()

3736

In [31]:
df['Datetime'] = pd.to_datetime(df['Date'], errors ='coherce')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
 16  Datetime                5458 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(15)
memory usage: 886.1+ KB

In [ ]:
df["Age"].head(3)

In [1]:
df["Age"].unique()

NameError: name 'df' is not defined

In [ ]:
df["Date"].unique()

In [ ]:

df.head(1)

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.sample(2)

# ejemplo de apply

In [ ]:
def feet2cm(x):
    (f,i) = x.split('-')
    return 30.48 * int(f) + 2.54 * int(i)

In [ ]:
nba['altura_cm'] = nba.Height.apply(feet2cm)

# pruebas con DATE

In [2]:
from datetime import date, timedelta
 
today_date = date.today()
 
print("CURRENT DAY : ", today_date)
 
td = timedelta(5)
print("AFTER 5 DAYS DATE WILL BE : ", today_date + td)

CURRENT DAY :  2022-05-12
AFTER 5 DAYS DATE WILL BE :  2022-05-17

In [3]:
today_date.day

12

In [4]:
today_date.month

5

In [5]:
dir(today_date)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'ctime',
 'day',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'min',
 'month',
 'replace',
 'resolution',
 'strftime',
 'timetuple',
 'today',
 'toordinal',
 'weekday',
 'year']

In [12]:
today_date.strftime(

datetime.timedelta(days=1)