In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\nuc_humbertore\Ironhack\labs\W1-pandas-dw-project\attacks.csv", encoding ="unicode_escape")

In [3]:
print(f"{df.shape = }")
print("\n")
print(f"{df.describe()}")
print("\n")
print(f"{df.info()}")

df.shape = (25723, 24)


              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB
None

In [4]:
df.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

-
# Limpieza de los datos
## Filas

In [5]:
#borramos las filas NaN de Case Number

df.dropna(subset=["Case Number"], inplace=True)

In [6]:
#borramos las filas con valor 0 de Case Number

indexNames = df[ df["Case Number"] == '0' ].index
# Eliminar estos índices de fila del dataFrame
df.drop(indexNames , inplace=True)

In [7]:
print(f"{df.shape = }")
print("\n")
print(f"{df.describe()}")
print("\n")
print(f"{df.info()}")

df.shape = (6302, 24)


              Year  original order
count  6299.000000     6301.000000
mean   1927.275917     3152.870655
std     281.138485     1819.281488
min       0.000000        2.000000
25%    1942.000000     1578.000000
50%    1977.000000     3153.000000
75%    2005.000000     4728.000000
max    2018.000000     6303.000000


<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6302 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
 16  pdf                     6301 non-null   object
 17  href formula            6300 non-null   object
 18  href                    6301 non-null   object
 19  Case Number.1           6301 non-null   object
 20  Case Number.2           6301 non-null   object
 21  original order          6301 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB
None

In [8]:
# para comprobar cuantos nulos hay por fila y listar los 10 que tienen más

nulos = df.isnull().sum(axis=1)
nulos.sort_values(ascending = False).head(10)

25722    23
5036     10
6165     10
6122     10
4976     10
6130     10
6080     10
6108     10
3378      9
5029      9
dtype: int64

In [9]:
#borramos los filas con menos de 10 valores buenos(que no son Null)
df.dropna(thresh=10, inplace=True)
print(df.shape)
df.tail(3)

(6301, 24)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [10]:
print(f"{df.shape = }")
print(f"{df.describe()}")
print(f"{df.info() = }")

df.shape = (6301, 24)
              Year  original order
count  6299.000000     6301.000000
mean   1927.275917     3152.870655
std     281.138485     1819.281488
min       0.000000        2.000000
25%    1942.000000     1578.000000
50%    1977.000000     3153.000000
75%    2005.000000     4728.000000
max    2018.000000     6303.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
 16  pdf                     6301 non-null   object
 17  href formula            6300 non-null   object
 18  href                    6301 non-null   object
 19  Case Number.1           6301 non-null   object
 20  Case Number.2           6301 non-null   object
 21  original order          6301 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB
df.info() = None

In [11]:
df.value_counts(["Unnamed: 22"])

Unnamed: 22
stopped here    1
dtype: int64

In [12]:
df.value_counts(["Unnamed: 23"])

Unnamed: 23
Teramo             1
change filename    1
dtype: int64

# Limpieza de los datos
## Columnas

In [13]:
df.shape

(6301, 24)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
 16  pdf                     6301 non-null   object
 17  href formula            6300 non-null   object
 18  href                    6301 non-null   object
 19  Case Number.1           6301 non-null   object
 20  Case Number.2           6301 non-null   object
 21  original order          6301 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [15]:
df["Age"].head(3)

0    57
1    11
2    48
Name: Age, dtype: object

In [16]:
df["Age"].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [17]:
df["Date"].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [18]:
#eiminamos las columnas "basura" que no tienen datos válidos
#usamos el método drop

df.drop(['Unnamed: 22','Unnamed: 23'], axis=1, inplace=True)
df.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0

In [19]:
df['href formula'].equals(df['href'])

False

In [20]:
df['Case Number.1'].equals(df['Case Number.2'])

False

In [21]:
df.loc[(df['Case Number.1'] != df['Case Number.2'])]

df.loc[(df['Case Number.1'] != df['Case Number.2'])].head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
34,2018.04.03,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,...,N,15h00,White shark,"K. McMurray, TrackingSharks.com",2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.02,2018.04.03,6269.0
117,2017.07.20.a,20-Jul-2017,2017.0,Unprovoked,USA,California,"Seal Rock, Goleta Beach, Santa Barbara",SUP,Rolf Geyling,M,...,N,07h45,"White shark, 8' to 10'","R. Collier, GSAF",2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017/07.20.a,2017.07.20.a,6186.0

In [22]:
diferencias_href.to_excel("diferencias_Case.xlsx")

NameError: name 'diferencias_href' is not defined

In [ ]:
diferencias_href = df.loc[(df['href'] != df['href formula'])]

In [ ]:
diferencias_href.to_excel("diferencias_href.xlsx")

In [ ]:
diferencias_case_original = df.loc[(df['Case Number'] != df['Case Number.1'])]

In [23]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [24]:
df.drop(['pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'], axis= 1, inplace=True)

In [25]:
df.shape

(6301, 16)

In [26]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source'],
      dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
dtypes: float64(1), object(15)
memory usage: 836.9+ KB

In [28]:
df.sample(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
5396,1910.12.25.R,Reported 25-Dec-1910,1910.0,Invalid,CROATIA,Primorje-Gorski Kotar County,Rijeka,NaN,male,M,NaN,FATAL?,NaN,NaN,Questionable,C. Moore. GSAF
3333,1972.05.28,28-May-1972,1972.0,Unprovoked,USA,California,"Bird Rock, near Tomales Point, Marin County",Free diving for abalone,Helmut Himmrich,M,32,Bitten on legs & buttock,N,13h30,"White shark, 4.4 m to 5 m [14.5' to 16.5']","D. Miller & R. Collier, R. Collier, pp.48-50; ..."

In [29]:
df["Injury"].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [30]:
df["Injury"].nunique()

3736

In [31]:
df['Datetime'] = pd.to_datetime(df['Date'], errors ='coerce')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
 16  Datetime                5458 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(15)
memory usage: 886.1+ KB

In [33]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Datetime
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018-06-25
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018-06-18
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018-06-09
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018-06-08
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018-06-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",NaT
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",NaT
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",NaT
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",NaT
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,NaT

In [41]:

df["Age_normalize"] = pd.to_numeric(df['Age'], errors='coerce', downcast="integer")

#df["Age_normalize"] = df.to_numeric(df['Age'])

#df["Age_normalize"] = df['Age'].astype('int32', errors = 'ignore')

df["Age_normalize"]= df["Age_normalize"].astype('int', errors = 'ignore')

In [44]:
df["Age_normalize"].dtypes

dtype('float64')

In [43]:
sorted(df["Age_normalize"].unique())

[1.0,
 7.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 24.0,
 25.0,
 26.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 34.0,
 35.0,
 45.0,
 46.0,
 48.0,
 57.0,
 nan,
 3.0,
 5.0,
 6.0,
 8.0,
 9.0,
 16.0,
 23.0,
 27.0,
 33.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 47.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 77.0,
 78.0,
 81.0,
 82.0,
 84.0,
 86.0,
 87.0]